# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.output/
public/build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Hardhat
cache/
artifacts/
typechain-types/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Patches
patches/

# Wrangler
.wrangler/
